{% load i18n  %}

<div class="detail">
 <p> Network Profile is an autoconfiguration template consisting of collection of commands which instantiates day-1 tenant-related configurations on CISCO Nexus switches.<br> <font color="red">Profiles can be added or modified only from DCNM</font></p><br>
  <dl class="dl-horizontal">
    <dt>{% trans "Profile Name: " %}</dt>
    <dd>{{ Profile_Name }}</dd>
    <dt>{% trans "Profile Type: " %}</dt>
    <dd>{{ Profile_Type }}</dd>
    <dt>{% trans "Forwarding Mode: " %}</dt>
    <dd>{{ fwding_mode }}</dd>
    <dt>{% trans "Description: " %}</dt>
    <dd>{{ description }}</dd><br>
    <dt>{% trans "Commands: " %}</dt>
    <dd style='border-left:1px solid'>{% autoescape off %}{{ commands }}{% endautoescape %}</dd>
  </dl>
</div>

