{% load i18n %}
<a href="#" id="instance_{{ id }}_{{ nw_name }}" class="link-popover" rel="popover" tabindex="0" data-placement="right" data-trigger="focus" data-content="
<table class='table table-bordered'>
  <tr><th>{% trans 'IP' %}</th><td>{{ ip }}</td></tr>
  <tr><th>{% trans 'MAC' %}</th><td>{{ mac }}</td></tr>
  <tr><th>{% trans 'PORT' %}</th><td>{{ port }}</td></tr>
  <tr><th>{% trans 'HOST, Port' %}</th><td>{{ host_port }}</td></tr>
  <tr><th>{% trans 'TOR, Port' %}</th><td>{{ TOR_port }}</td></tr>
</table>
" data-original-title="{% blocktrans %}Instance Details: {{ name }}">{{ name }}{% endblocktrans %}</a>
<script type="text/javascript" charset="utf-8">
$(function () {
  var $instance = $("#instance_{{ id }}_{{ nw_name }}");
  if ( $instance.popover ) {
    $instance.popover({html:true});
  }
});
</script> 

