{% load i18n %}
<a href="#" id="result_{{ result }}_{{ id }}" class="link-popover" rel="popover" tabindex="0" data-placement="left" data-trigger="focus" data-content="
<table class='table table-bordered'>
  <tr><th>{% trans 'Reason' %}</th><td>{{ reason }}</td></tr>
</table>
" data-original-title="{% blocktrans %}">{{ result }}{% endblocktrans %}</a>
<script type="text/javascript" charset="utf-8">
$(function () {
  var $result = $("#result_{{ result }}_{{ id }}");
  if ( $result.popover ) {
    $result.popover({html:true});
  }
});
</script>
